<style>
    #mainMenu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100px;
        background-color: #222;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        border-bottom: solid 3px orangered;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }

    #mainSearch {
        display: none;
    }

    .nav-bar {
        width: 100%;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
        justify-content: flex-start;
        height: 80px;
    }
    .main-menu-item {
        color: orangered;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        padding: 10px;
    }

    .current-zone {
        color: #fff;
    }
</style>


<div id="mainMenu">
    <div id="mainSearch">
        <form action="/search" method="post">
            <div class="single-input-action-container">
                <input type="search" name="query" id="queryInput" placeholder="Search...">
                <button type="submit">Go</button>
            </div>
        </form>
    </div>
    <div class="nav-bar">
        <div class="main-menu-item" data-landing-page="home" href="/">Home</div>
        <div class="main-menu-item" data-landing-page="jobs">Jobs</div>
        <div class="main-menu-item" data-landing-page="clients">Clients</div>
        <div class="main-menu-item" data-landing-page="suppliers">Suppliers</div>
        <div class="main-menu-item" data-landing-page="maintenance">Maintenance</div>
        <div class="main-menu-item" data-landing-page="tools">Tools</div>
        <div class="main-menu-item" data-landing-page="resources">Resources</div>
    </div>
</div>

<script>

</script>