* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
}

.hidden {
    display: none;
}

.vert-stack {
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px;
    width: 90vw;
    border-bottom: solid 5px orangered;
    color: orangered;
    margin-inline: auto;
    border-radius: 1rem;
}

main {
    margin-top: 15px;
    font-size: 1.4rem;
}

.add-form {
    width: 100%;
}

form {
    width: 100%;
    margin-bottom: 20px;
}

.add-form button {
    width: 90%;
    outline: none;
    border: none;
    margin-inline: auto;
    color: #fff;
    background-color: yellowgreen;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10rem;
    margin-top: 15px;
    border: solid 3px #fff;
}

.data-input-label {
    padding: 5px;
    font-size: 1rem;
}

footer ul {
    list-style: none;
    font-size: 1.5rem;

    color: orangered;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

footer a {
    color: orangered;
    text-decoration: none;
}

.company-data {
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: #000;
    border-radius: 2px;
    border-top: solid 1px orangered;
    border-bottom: solid 1px orangered;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.6);
}

.company-data>.data-item>p:first-of-type {
    padding: 8px;
    font-size: 1.6rem;
    font-weight: bold;
}

.company-data .data-item {
    text-align: center;
    width: 100%;
}

.job-data,
.client-data,
.company-data,
.expense-data,
.notes-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.data-header {
    width: 90%;
    text-align: center;
}

.data-header h4 {
    padding: 8px;
    font-size: 1.5rem;
    color: orangered;
    border-top: solid 3px orangered;
    width: 100%;
    margin-top: 25px;
    border-radius: 1rem;
}

.data-header h6 {
    padding: 8px;
    font-size: 1.25rem;
    color: #fff;
    border-top: solid 1px #fff;
    width: 100%;
    margin-top: 15px;
    border-radius: 1rem;
}

.data-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
}

.data-row>div {
    max-width: 50%;
}

.data-row>div>input {
    max-width: 100%;
}

.data-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.data-item input {
    width: 90%;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

.data-item select {
    width: 90%;
    min-width: 300px;
    margin-top: 15px;
    margin-inline: auto;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #fff;
    color: orangered;
}

.permits-list {
    width: 90%;
}

.permit-code {
    width: 100px;
}

.permit-name {
    width: calc(100% - 100px);
}

.permit-status {
    display: none;
}

.permit-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    border-bottom: solid 1px #fff;
}

.permit-item:last-of-type {
    border-bottom: none;
}



.expense-item {
    border: solid 3px orangered;
    position: relative;
    width: 90%;
    margin-inline: auto;
    margin-top: 30px;
    border-radius: 1rem;
    padding: 15px;
}

.item-number {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: orangered;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #333;
}

.item-options {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 60px;
    height: 30px;
    border-radius: 1rem;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-options-open {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-options-open img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 1px #000);
}

.item-options-list {
    position: absolute;
    top: 0px;
    right: 45px;
    background-color: lime;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    height: 30px;

}

.options-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.25rem;
    padding-left: 15px;
    padding-right: 15px;
}

.options-list span {
    font-size: 0.8rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.options-list span:nth-child(3) {
    color: orangered;
}

.item-name {
    border-bottom: solid 2px #fff;
    width: 95%;
    margin-inline: auto;
    padding-bottom: 1rem;
}

.item-description {
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.item-details {
    border: solid 1px orangered;
    border-radius: 1rem;
    padding: 1rem;
}

.item-details table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.item-details table th {
    border-bottom: solid 2px #fff;
    padding: 3px;
}

.item-details table td {
    border-right: solid 2px #fff;
    padding: 3px;
}

.item-details table td:last-of-type {
    border-right: none;
}


.item-note {
    background-color: orangered;
    font-size: 1.3rem;
    width: 90%;
    border-radius: 1rem;
    position: relative;
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.item-ref {
    position: absolute;
    top: -10px;
    left: -10px;
    border: solid 1px orangered;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: orangered;
}

.item-ref-options {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 1rem;
    width: 60px;
    height: 30px;
    background-color: #fff;
    color: #333;
}

.item-ref-options-open {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-ref-options-open img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 1px #000);
}

.note-body {
    color: #333;
}

.dev-note {
    display: none;
}