<style>

</style>


<div class="page-title">
    <h1><%= pageTitle %></h1>
</div>
<div class="nav-bar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/suppliers">Suppliers</a></li>
        <li><a href="/maintenance">Maintenance</a></li>
        <li><a href="/tools">Tools</a></li>
        <li><a href="/resources">Resources</a></li>
    </ul>
</div>

    <%- include('../partials/user/show', {user: 'Jonny O' }) %>


<div class="page-footer">
    <p>FOOTER</p>
</div>