<div class="zone hidden" data-zone-name="jobs">

<div id="jobPages">

    <div class="page-landing-header">
        <h1>Jobs</h1>
    </div>



    <div class="page-routes">
        <button data-page-route="new" id="newJob">New</button>    
        <button data-page-route="edit" id="editJob">Edit</button>    
        <button data-page-route="view" id="viewJob">View</button>    
    </div>

    <%- include('./new', {pageName: 'new'}) %>
    <%- include('./edit'), {pageName: 'edit'} %>
    <%- include('./view'), {pageName: 'view'} %>
</div>


</div>


<script>
    const
        itemOptionsBtns = document.querySelectorAll('.item-options'),
        itemRefOptionsBtns = document.querySelectorAll('.item-ref-options'),
        itemNotes = document.querySelectorAll('.item-note')



    itemOptionsBtns.forEach(itemOptionBtn => {
        itemOptionBtn.addEventListener('click', e => {
            const optionsList = itemOptionBtn.querySelector('.item-options-list')
            optionsList.classList.toggle('hidden')

            console.log('click')
        })
    })
    itemRefOptionsBtns.forEach(itemOptionBtn => {
        itemOptionBtn.addEventListener('click', e => {
            const optionsList = itemOptionBtn.querySelector('.item-options-list')
            optionsList.classList.toggle('hidden')

            console.log('click')
        })
    })


</script>