<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX HTML</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-color: lime;
            padding-top: 100px;
            background-color: #333;
            color: #fff;
        }
        .page-landing-header {
            background-color: orangered;
            margin-top: 20px;
        }
        .page-landing-header h1 {
            padding: 10px;
            text-align: center;
            font-size: 3rem;
        }
    </style>
</head>
<body>
    
    <%- include('../partials/menu/main') %>

    <%- include('../partials/jobs/index') %>

</body>
</html>